.home-container .content{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
}

.content .bookshelf{
    width: fit-content;
    margin: auto;
    position: relative;
}

.content .bookshelf .shelf {
    position: relative;
}
.shelf .row::after{
    background-image:  url(/public/assets/images/wall-bookshelf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    width: auto;
    height: 110px;
    display: block;
    content: " ";
}

.row{
    position: relative;
}

.row .loc{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    position: relative
}

.loc .sample{
    margin: 0px 20px;
    
}

.loc .sample.thumb1{
    position: relative;
    border-radius: 4px 6px 6px 4px;
    height: 200px;
    width: 150px;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 5px rgb(0 0 0 / 60%);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    -ms-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 60%);
    -webkit-transition: -webkit-transform 0.1s;
    -webkit-transform: translate(0, 0);
    -moz-transition: -moz-transform 0.1s;
    -moz-transform: translate(0, 0);
    -ms-transition: -ms-transform 0.1s;
    -ms-transform: translate(0, 0);
    -o-transition: -o-transform 0.1s;
    -o-transform: translate(0, 0);
    transition: transform 0.1s;
    transform: translate(0px, 45px);
    background-color: aqua;
    margin: 20px;
}

.sample .box{
    width: 150px;
    height: 200px;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    opacity: 1;
    background-image: url(/public/assets/images/cover-book-1.png);
    transition: transform 0.12s;
    background-size: cover;
}

.sample .box:hover{
    z-index: 2;
    -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0px, 0);
    -moz-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0px, 0);
    -ms-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0px, 0);
    -o-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0px, 0);
    transform: scale3d(1.05, 1.05, 1) translate3d(0, 0px, 0);
    cursor: pointer;
}

.sample .overlay {
    z-index: 9;
    margin: 0px;
    background: #009938;
}

.modal-book {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    top: 5%;
    right: 5%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.animated{
    transition: all 1s;
}

.modal-content{
    width: 80%;
    height: auto;
    margin: auto;
}